<div class="oops">
    OOPs
</div>

<div class="img-banner">
    <img src="/sad404.svg" alt="" height="600px" width="500px">
</div>

<div class="error-message-recruiter">
    <%= message %>
    <span style="transform: rotate(-35deg); 
                display: inline-block;
                color: red;
                font-size: 150px;;
                position: absolute;
                top: -200%;
                left: 100%;">4X4</span>
</div>

