<div class="img-banner">
    <img src="banner.png" alt="" height="600px" width="500px">
</div>
   
<div class="container">
    <h1 class="above-typewriter">A comprehensive platform for reliable<br /> oppurtunities and internships</h1>
    </h1>
    <div class="typed-out">One stop search for Jobs</div>
    <h1 class="below-typewriter"> Get Discovered. Get Hired.</h1>
    
    <div class="btn-container">
        <button type="button" class="btn btn-primary btn-lg m-2" data-bs-toggle="modal" data-bs-target="#button-1"><a href="/jobs" style="color: white; text-decoration: none;">I'm a Job Seeker</a></button>
        <button <%= locals.userEmail ? 'disabled' : '' %> type="button" class="btn btn-primary btn-lg m-2" data-bs-toggle="modal" data-bs-target="#button-2">I'm a Recruiter</button>

    </div>
  
  <!-- Modal for Recruiter -->
  <div class="modal fade" id="button-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button style="position: absolute; right: 20px; top: 20px;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-header">
           
            <form action="/registerRecruiter" method="post">
                <h3>Experience Easily!</h3>
                <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name" required>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Enter your Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter your email" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
              </form>
        
        </div>
        
        <h2 style="margin-left: 10px;">Already Registered?
          <a href='/login' class="btn btn-success">Login</a>
          <i class="fa-brands fa-instagram m-1" id="instagram"></i>
          <i class="fa-brands fa-twitter m-1"  id="twitter"></i>
          <i class="fa-brands fa-whatsapp m-1" id="whatsapp"></i>
          <i class="fa-brands fa-linkedin m-1" id="linkedin"></i>
      </h2>
        
        <div class="modal fade" id="recruiterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <button style="position: absolute; right: 20px; top: 20px;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-header">
                   
                    <form >
                        <h3>Experience Easily!</h3>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Enter your Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                      </form>
                
                    </div>
            </div>
            </div>
        </div>
      </div>
  
    
</div>