<div class="oops">
    OOPs
</div>

<div class="img-banner">
    <img src="sad404.svg" alt="" height="600px" width="500px">
</div>

<div class="error-message-recruiter">
    only recruiter is allowed to access this page,<br /> login as recruiter to continue.
    <span style="transform: rotate(-35deg); 
                display: inline-block;
                color: red;
                font-size: 150px;;
                position: absolute;
                top: -50%;
                left: 120%;">4X4</span>
</div>